<div ng-controller="mainnav" class="mainnav">
    <div class="mainnav-title">
        <img ng-src="./images/ab_logo2.png" alt="ablogo" title="ablogo">
    </div>
    <ul class="list-group">
        <li data-ng-repeat="list in lists" ng-click="listsubcomponent();list.isActive=!list.isActive;">
            <a class="list-group-item">
                <i class="iconfont {{list.icon}}"></i>&nbsp;&nbsp;
                {{list.link}}
                <span ng-class="['glyphicon','addicon', !list.isActive ?'glyphicon-plus':'glyphicon-minus']"></span>
            </a>
            <listsubcomponent></listsubcomponent>
        </li>
    </ul>
</div>