<div class="col-xs-6 col-sm-6 col-md-4 col-lg-2" ng-repeat="comd in commodityArr">
    <div class="thumbnail">
        <img ng-src={{comd.imgsrc}} alt="购物商城">
        <div class="caption">
            <h3>{{comd.name}}</h3>
            <p>{{comd.title}}</p>
            <h2 class="text-left" ng-click="sumpriceFun();">
                <i>RMB:</i>
                <a>{{comd.price}}</a>
                <a href="#" class="btn btn-primary" role="button" 
                            ng-click="setShoppingCartArr(comd);">
                    <i class="iconfont icon-gouwuche"></i>
                </a>
            </h2>                
        </div>
    </div>
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="panel panel-default" ng-init="cout=1;">
        <!-- Default panel contents -->
        <div class="panel-heading">阿三的购物车</div>
        <!-- Table -->
        <table class="table" id="mytable">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" ng-model="allchecked" 
                        ng-click="carcheckboxFun(shoppingcartArr);"/>
                    </th>
                    <th>商品序号</th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品价格(RMB)</th>
                    <th>商品数量</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="col in shoppingcartArr">
                    <td>
                        <input type="checkbox" ng-checked="col.isActive" ng-click='col.isActive = !col.isActive'/>
                    </td>
                    <td>No.{{$index+1}}</td>
                    <td>
                        <img ng-src={{col.imgsrc}} width='50' height='50'/>
                    </td>
                    <td>{{col.name}}</td>
                    <td>
                        <b class="price">{{col.price * cout}}</b>
                    </td>
                    <td ng-click="sumpriceFun();">
                        <button class="btn btn-default" 
                                ng-click="cout > 1 ? cout = cout - 1 : null;monerysum = col.price * cout;">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                        <b>{{cout}}</b>
                        <button class="btn btn-info" ng-click="cout = cout + 1;monerysum = col.price * cout;">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="text-left">
                <b>商品总价：</b><i>{{monerysum}}</i>&nbsp;<b>RMB</b>
            </div>
            <div class="text-right" ng-click="sumpriceFun();">
                <a href="#" class="btn btn-default" ng-click="removeChecked(shoppingcartArr);">删除选中</a>
                <a href="#" class="btn btn-orange">立即购买</a>
            </div> 
        </div>  
    </div>
</div>